$border-style: 1px solid black;
$header-colour: #dddddd;
$body-colour: #eeeeee;

#words-list {
    display: table;
    border: $border-style;
    border-radius: 5px;
    width: 50%;
    margin-top: 20px;
}

#words-header {
    display: table-header-group;
    background-color: $header-colour;
    font-weight: bold;
}

#words-header-translation, #words-header-english {
    display: table-cell;
    border: $border-style;
    border-bottom: 3px solid black;
}

#words-body {
    display: table-row-group;
    background-color: $body-colour;
}

.words-body-row {
    display: table-row;
}

.words-body-translation, .words-body-english {
    display: table-cell;
    border: $border-style;
}

.words-cell {
    padding: 5px;
}

.list-words {
    align-content: center;
}