@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h2>Language Helper</h2>

@foreach (var language in Model.Languages) 
{
    <span class="language-option">
        <h3 class="language-option">@language.Name</h3>
        <input type="radio" name="select-language" data-languageid="@language.Id" class="select-language"/>  
        <br/>  
    </span>
}

<button type="submit" id="showHideWords" data-show="true" class="btn btn-info get-words">Show Words</button>

<div id="wordsArea">
    
</div>

<environment names="Development">
    <script src="~/js/Home.js"></script>
</environment>